[Unit]
Description=Prayer TUI Background Service
After=network.target

[Service]
ExecStart=/usr/local/bin/pt --background
Restart=always
Type=simple

[Install]
WantedBy=default.target
